USE Diabetes;
GO

-- ===============================================================================
-- KỊCH BẢN THÊM DỮ LIỆU CA KHÁM LỊCH SỬ CHO TẤT CẢ BỆNH NHÂN (THÁNG 4, 5, 6 / 2026)
-- Gán TẤT CẢ ca khám cho Bác sĩ đầu tiên trong hệ thống (D480811)
-- ===============================================================================

SET NOCOUNT ON;

-- 1. Lấy Bác sĩ đầu tiên trong danh sách (D480811)
DECLARE @Doctor1 VARCHAR(50);
SELECT TOP 1 @Doctor1 = UserID FROM [Account] WHERE RoleID = 'DOC' ORDER BY UserID ASC;

IF @Doctor1 IS NULL
BEGIN
    PRINT N'LỖI: Chưa có tài khoản Bác sĩ nào (RoleID = DOC) trong hệ thống!';
    RETURN;
END

PRINT N'==> Gán TẤT CẢ ca khám cho Bác sĩ duy nhất: ' + @Doctor1;

-- 2. Tạo bảng tạm danh sách Bệnh nhân
IF OBJECT_ID('tempdb..#TempPatients') IS NOT NULL DROP TABLE #TempPatients;

CREATE TABLE #TempPatients (
    RowNo INT IDENTITY(1,1),
    PatientID VARCHAR(50),
    FullName NVARCHAR(60)
);

INSERT INTO #TempPatients (PatientID, FullName)
SELECT UserID, FullName FROM Patient ORDER BY UserID ASC;

DECLARE @TotalPatients INT;
SELECT @TotalPatients = COUNT(*) FROM #TempPatients;

PRINT N'==> Tổng số bệnh nhân tìm thấy: ' + CAST(@TotalPatients AS VARCHAR);

-- 3. Vòng lặp chèn 3 ca khám cho mỗi bệnh nhân (Tháng 4, Tháng 5, Tháng 6 năm 2026)
DECLARE @Idx INT = 1;
DECLARE @PatID VARCHAR(50);
DECLARE @PatName NVARCHAR(60);

DECLARE @ExamID_M4 VARCHAR(50), @ExamID_M5 VARCHAR(50), @ExamID_M6 VARCHAR(50);
DECLARE @LabOrder_M4 VARCHAR(50), @LabOrder_M6 VARCHAR(50);
DECLARE @Pres_M4 VARCHAR(50), @Pres_M6 VARCHAR(50);
DECLARE @Det1 VARCHAR(50), @Det2 VARCHAR(50);

WHILE @Idx <= @TotalPatients
BEGIN
    SELECT @PatID = PatientID, @PatName = FullName FROM #TempPatients WHERE RowNo = @Idx;

    -- Đặt tên ID duy nhất ngắn gọn không vượt quá 50 ký tự
    SET @ExamID_M4 = 'EX-' + SUBSTRING(@PatID, 1, 10) + '-04';
    SET @ExamID_M5 = 'EX-' + SUBSTRING(@PatID, 1, 10) + '-05';
    SET @ExamID_M6 = 'EX-' + SUBSTRING(@PatID, 1, 10) + '-06';

    -- Xóa các bản ghi cũ nếu đã tồn tại để tránh vi phạm khóa chính/ngoại khi chạy lại
    DELETE FROM DoctorRating WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6);
    DELETE FROM TreatmentPlan WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6);
    DELETE FROM Reminder WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6);
    DELETE FROM ExamSymptom WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6);

    -- Delete Prescriptions
    DELETE FROM PrescriptionTiming WHERE PrescriptionDetailID IN (
        SELECT PrescriptionDetailID FROM PrescriptionDetail WHERE PrescriptionID IN (
            SELECT PrescriptionID FROM Prescription WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6)
        )
    );
    DELETE FROM PrescriptionDetail WHERE PrescriptionID IN (
        SELECT PrescriptionID FROM Prescription WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6)
    );
    DELETE FROM Prescription WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6);

    -- Delete Lab Orders & Results
    DELETE FROM LabResult WHERE LabOrderID IN (
        SELECT LabOrderID FROM LabOrder WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6)
    );
    DELETE FROM LabOrder WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6);

    -- Delete Clinical Examinations
    DELETE FROM ClinicalExamination WHERE ClinicalExamID IN (@ExamID_M4, @ExamID_M5, @ExamID_M6);

    PRINT N'Creating historical exams for: ' + @PatName + N' (' + @PatID + N')';

    -- =========================================================================
    -- CA KHÁM 1: THÁNG 04/2026 (HOÀN THÀNH - COMPLETED)
    -- =========================================================================
    INSERT INTO ClinicalExamination (
        ClinicalExamID, ExamDate, MedicalHistory, DiagnosisNote, CancelReason, NextAppointment, Status, PatientID, DoctorID
    ) VALUES (
        @ExamID_M4,
        DATEADD(DAY, (@Idx * 2) % 10, '2026-04-10 08:30:00'),
        N'Bệnh nhân khát nước nhiều, đi tiểu đêm 3-4 lần, mệt mỏi giảm 2kg trong tháng.',
        N'Đái tháo đường tuýp 2 - Phát hiện lần đầu, cần kiểm soát đường huyết lúc đói và điều chỉnh chế độ ăn.',
        NULL,
        '2026-05-18 09:00:00',
        'Completed',
        @PatID,
        @Doctor1
    );

    -- Triệu chứng Tháng 4
    INSERT INTO ExamSymptom (ClinicalExamID, SymptomID, Note) VALUES
    (@ExamID_M4, 'SYM001', N'Khát nước liên tục, uống 3-4 lít/ngày'),
    (@ExamID_M4, 'SYM002', N'Tiểu đêm nhiều lần'),
    (@ExamID_M4, 'SYM005', N'Mệt mỏi uể oải buổi chiều');

    -- Xét nghiệm Tháng 4
    SET @LabOrder_M4 = 'LBO-' + SUBSTRING(@PatID, 1, 10) + '-04';
    INSERT INTO LabOrder (LabOrderID, Status, ClinicalExamID) VALUES (@LabOrder_M4, 'Completed', @ExamID_M4);

    INSERT INTO LabResult (LabResultID, Status, Flag, ResultValue, ReferenceRange, LabOrderID, LabTestID) VALUES
    ('LBR-' + SUBSTRING(@PatID, 1, 8) + '-041', 'Completed', N'Chỉ số cao (Cảnh báo)', 142.50 + (@Idx * 2), '70 - 99 mg/dL', @LabOrder_M4, 'LAB001'),
    ('LBR-' + SUBSTRING(@PatID, 1, 8) + '-042', 'Completed', N'Chỉ số cao (Cảnh báo)', 7.80 + (@Idx * 0.1), '4.0 - 5.6 %', @LabOrder_M4, 'LAB002');

    -- Đơn thuốc Tháng 4
    SET @Pres_M4 = 'PR-' + SUBSTRING(@PatID, 1, 10) + '-04';
    INSERT INTO Prescription (PrescriptionID, CreatedAt, ClinicalExamID) VALUES (@Pres_M4, '2026-04-12 09:15:00', @ExamID_M4);

    SET @Det1 = 'PRD-' + SUBSTRING(@PatID, 1, 8) + '-041';
    INSERT INTO PrescriptionDetail (
        PrescriptionDetailID, PrescriptionID, MedicationID, Dosage, TotalQuantity, DurationDays, StartDate, EndDate, MedicationPlan
    ) VALUES (
        @Det1, @Pres_M4, 'MED-01', N'1 viên (500mg)', 60, 30, '2026-04-12', '2026-05-12', N'Uống ngay sau bữa ăn sáng và bữa ăn tối.'
    );
    INSERT INTO PrescriptionTiming (PrescriptionDetailID, TimingID) VALUES (@Det1, 1), (@Det1, 5);

    -- Kế hoạch điều trị Tháng 4
    INSERT INTO TreatmentPlan (CreatedAt, TreatmentGoal, DietPlan, ExercisePlan, GlucoseMonitoringPlan, ClinicalExamID)
    VALUES (
        '2026-04-12 09:30:00',
        N'Mục tiêu: Giảm FPG < 130 mg/dL và hết triệu chứng tiểu đêm.',
        N'Hạn chế tinh bột nhanh, tăng lượng rau xanh, không uống nước ngọt có gas.',
        N'Đi bộ nhanh 30 phút mỗi ngày.',
        N'Đo đường huyết lúc đói 3 lần/tuần.',
        @ExamID_M4
    );

    -- Đánh giá bác sĩ Tháng 4
    INSERT INTO DoctorRating (ClinicalExamID, PatientID, DoctorID, RatingValue, Comment, CreatedAt)
    VALUES (
        @ExamID_M4, @PatID, @Doctor1, 5, N'Bác sĩ khám rất kỹ, hướng dẫn chi tiết về chế độ ăn uống.', '2026-04-12 17:30:00'
    );


    -- =========================================================================
    -- CA KHÁM 2: THÁNG 05/2026 (ĐÃ HỦY - CANCELLED)
    -- =========================================================================
    INSERT INTO ClinicalExamination (
        ClinicalExamID, ExamDate, MedicalHistory, DiagnosisNote, CancelReason, NextAppointment, Status, PatientID, DoctorID
    ) VALUES (
        @ExamID_M5,
        DATEADD(DAY, (@Idx * 2) % 8, '2026-05-15 09:00:00'),
        N'Lịch hẹn tái khám định kỳ tháng 5.',
        NULL,
        N'Bệnh nhân bận công tác đột xuất, xin hủy lịch và hẹn tái khám vào tháng sau.',
        '2026-06-22 08:30:00',
        'Cancelled',
        @PatID,
        @Doctor1
    );


    -- =========================================================================
    -- CA KHÁM 3: THÁNG 06/2026 (HOÀN THÀNH - COMPLETED)
    -- =========================================================================
    INSERT INTO ClinicalExamination (
        ClinicalExamID, ExamDate, MedicalHistory, DiagnosisNote, CancelReason, NextAppointment, Status, PatientID, DoctorID
    ) VALUES (
        @ExamID_M6,
        DATEADD(DAY, (@Idx * 2) % 7, '2026-06-20 08:30:00'),
        N'Tái khám sau 2 tháng dùng thuốc. Các triệu chứng khát nước và tiểu đêm đã giảm rõ.',
        N'Đái tháo đường tuýp 2 - Đường huyết cải thiện tốt, các chỉ số đáp ứng phác đồ điều trị.',
        NULL,
        '2026-07-25 08:30:00',
        'Completed',
        @PatID,
        @Doctor1
    );

    -- Triệu chứng Tháng 6
    INSERT INTO ExamSymptom (ClinicalExamID, SymptomID, Note) VALUES
    (@ExamID_M6, 'SYM005', N'Thỉnh thoảng mệt mỏi nhẹ khi làm việc nặng');

    -- Xét nghiệm Tháng 6
    SET @LabOrder_M6 = 'LBO-' + SUBSTRING(@PatID, 1, 10) + '-06';
    INSERT INTO LabOrder (LabOrderID, Status, ClinicalExamID) VALUES (@LabOrder_M6, 'Completed', @ExamID_M6);

    INSERT INTO LabResult (LabResultID, Status, Flag, ResultValue, ReferenceRange, LabOrderID, LabTestID) VALUES
    ('LBR-' + SUBSTRING(@PatID, 1, 8) + '-061', 'Completed', N'Bình thường', 106.00 + (@Idx * 1.5), '70 - 99 mg/dL', @LabOrder_M6, 'LAB001'),
    ('LBR-' + SUBSTRING(@PatID, 1, 8) + '-062', 'Completed', N'Chỉ số ổn định', 6.70 + (@Idx * 0.05), '4.0 - 5.6 %', @LabOrder_M6, 'LAB002');

    -- Đơn thuốc Tháng 6
    SET @Pres_M6 = 'PR-' + SUBSTRING(@PatID, 1, 10) + '-06';
    INSERT INTO Prescription (PrescriptionID, CreatedAt, ClinicalExamID) VALUES (@Pres_M6, '2026-06-22 09:10:00', @ExamID_M6);

    SET @Det1 = 'PRD-' + SUBSTRING(@PatID, 1, 8) + '-061';
    SET @Det2 = 'PRD-' + SUBSTRING(@PatID, 1, 8) + '-062';

    INSERT INTO PrescriptionDetail (
        PrescriptionDetailID, PrescriptionID, MedicationID, Dosage, TotalQuantity, DurationDays, StartDate, EndDate, MedicationPlan
    ) VALUES 
    (
        @Det1, @Pres_M6, 'MED-01', N'1 viên (500mg)', 60, 30, '2026-06-22', '2026-07-22', N'Uống ngay sau bữa ăn sáng và bữa ăn tối.'
    ),
    (
        @Det2, @Pres_M6, 'MED-04', N'1 viên (100mg)', 30, 30, '2026-06-22', '2026-07-22', N'Uống 1 lần vào buổi sáng.'
    );

    INSERT INTO PrescriptionTiming (PrescriptionDetailID, TimingID) VALUES 
    (@Det1, 1), (@Det1, 5), 
    (@Det2, 1);

    -- Kế hoạch điều trị Tháng 6
    INSERT INTO TreatmentPlan (CreatedAt, TreatmentGoal, DietPlan, ExercisePlan, GlucoseMonitoringPlan, ClinicalExamID)
    VALUES (
        '2026-06-22 09:25:00',
        N'Mục tiêu: Đưa HbA1c về < 6.5% trong 3 tháng tới.',
        N'Duy trì chế độ ăn cân bằng đạm - xơ - tinh bột phức.',
        N'Tập aerobic hoặc đạp xe 40 phút/ngày.',
        N'Đo đường huyết định kỳ 2 lần/tuần.',
        @ExamID_M6
    );

    -- Đánh giá bác sĩ Tháng 6
    INSERT INTO DoctorRating (ClinicalExamID, PatientID, DoctorID, RatingValue, Comment, CreatedAt)
    VALUES (
        @ExamID_M6, @PatID, @Doctor1, 5, N'Hồ sơ theo dõi sát sao, bác sĩ dặn dò rất tận tâm.', '2026-06-22 17:00:00'
    );

    SET @Idx = @Idx + 1;
END

PRINT N'============================================================';
PRINT N'ĐÃ HOÀN TẤT CHÈN 3 CA KHÁM CHO TẤT CẢ BỆNH NHÂN ĐỀU VÀO BÁC SĨ D480811!';
GO
