USE Diabetes;
GO

-- ===============================================================================
-- KỊCH BẢN THÊM CA KHÁM NGÀY HÔM NAY (28/07/2026) CHO 4 BỆNH NHÂN
-- 3 ca Completed (08:15, 09:30, 10:45) và 1 ca Cancelled (14:00)
-- 2 bệnh nhân còn lại (1 Nam, 1 Nữ) giữ nguyên để người dùng tự demo gửi yêu cầu!
-- ===============================================================================

SET NOCOUNT ON;

DECLARE @DoctorID VARCHAR(50);
SELECT TOP 1 @DoctorID = UserID FROM [Account] WHERE RoleID = 'DOC' ORDER BY UserID ASC;

IF @DoctorID IS NULL SET @DoctorID = 'D480811';

PRINT N'==> Sử dụng Bác sĩ: ' + @DoctorID;

-- Danh sách 4 Bệnh nhân nhận ca khám hôm nay
DECLARE @Pat1 VARCHAR(50) = 'P145263'; -- Phan Thế Mạnh
DECLARE @Pat2 VARCHAR(50) = 'P211988'; -- Ngô Mạnh Nam
DECLARE @Pat3 VARCHAR(50) = 'P375898'; -- Hà Mạnh Kiên
DECLARE @Pat4 VARCHAR(50) = 'P470982'; -- Nguyễn Minh Hòa

-- 1. XÓA BẢN GHI HÔM NAY NẾU ĐÃ TỒN TẠI (ĐỂ CHẠY LẠI KHÔNG BỊ LỖI)
DECLARE @TodayExams TABLE (ExamID VARCHAR(50));
INSERT INTO @TodayExams VALUES 
('EX-P145263-TODAY'), ('EX-P211988-TODAY'), ('EX-P375898-TODAY'), ('EX-P470982-TODAY');

DELETE FROM DoctorRating WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams);
DELETE FROM TreatmentPlan WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams);
DELETE FROM Reminder WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams);
DELETE FROM ExamSymptom WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams);

DELETE FROM PrescriptionTiming WHERE PrescriptionDetailID IN (
    SELECT PrescriptionDetailID FROM PrescriptionDetail WHERE PrescriptionID IN (
        SELECT PrescriptionID FROM Prescription WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams)
    )
);
DELETE FROM PrescriptionDetail WHERE PrescriptionID IN (
    SELECT PrescriptionID FROM Prescription WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams)
);
DELETE FROM Prescription WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams);

DELETE FROM LabResult WHERE LabOrderID IN (
    SELECT LabOrderID FROM LabOrder WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams)
);
DELETE FROM LabOrder WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams);
DELETE FROM ClinicalExamination WHERE ClinicalExamID IN (SELECT ExamID FROM @TodayExams);


-- =========================================================================
-- CA 1 (08:15): HOÀN THÀNH (COMPLETED) - BỆNH NHÂN P145263
-- =========================================================================
INSERT INTO ClinicalExamination (
    ClinicalExamID, ExamDate, MedicalHistory, DiagnosisNote, CancelReason, NextAppointment, Status, PatientID, DoctorID
) VALUES (
    'EX-P145263-TODAY',
    '2026-07-28 08:15:00',
    N'Tái khám định kỳ hôm nay. Đường huyết tại nhà tương đối ổn định, ăn uống ngủ nghỉ tốt.',
    N'Đái tháo đường tuýp 2 - Kiểm soát đường huyết tốt, duy trì phác đồ hiện tại.',
    NULL,
    '2026-08-28 08:30:00',
    'Completed',
    @Pat1,
    @DoctorID
);

INSERT INTO ExamSymptom (ClinicalExamID, SymptomID, Note) VALUES
('EX-P145263-TODAY', 'SYM005', N'Mệt mỏi nhẹ khi thức khuya');

INSERT INTO LabOrder (LabOrderID, Status, ClinicalExamID) VALUES ('LBO-P145263-TODAY', 'Completed', 'EX-P145263-TODAY');
INSERT INTO LabResult (LabResultID, Status, Flag, ResultValue, ReferenceRange, LabOrderID, LabTestID) VALUES
('LBR-P145263-TD1', 'Completed', N'Bình thường', 102.00, '70 - 99 mg/dL', 'LBO-P145263-TODAY', 'LAB001'),
('LBR-P145263-TD2', 'Completed', N'Chỉ số tốt', 6.50, '4.0 - 5.6 %', 'LBO-P145263-TODAY', 'LAB002');

INSERT INTO Prescription (PrescriptionID, CreatedAt, ClinicalExamID) VALUES ('PR-P145263-TODAY', '2026-07-28 08:45:00', 'EX-P145263-TODAY');
INSERT INTO PrescriptionDetail (PrescriptionDetailID, PrescriptionID, MedicationID, Dosage, TotalQuantity, DurationDays, StartDate, EndDate, MedicationPlan)
VALUES ('PRD-P145263-TD1', 'PR-P145263-TODAY', 'MED-01', N'1 viên (500mg)', 60, 30, '2026-07-28', '2026-08-28', N'Uống sau bữa ăn sáng và tối.');
INSERT INTO PrescriptionTiming (PrescriptionDetailID, TimingID) VALUES ('PRD-P145263-TD1', 1), ('PRD-P145263-TD1', 5);

INSERT INTO TreatmentPlan (CreatedAt, TreatmentGoal, DietPlan, ExercisePlan, GlucoseMonitoringPlan, ClinicalExamID)
VALUES ('2026-07-28 08:50:00', N'Mục tiêu duy trì HbA1c < 6.5%.', N'Ăn đúng giờ, đủ rau xanh.', N'Tập thể dục 30 phút/ngày.', N'Đo đường huyết 2 lần/tuần.', 'EX-P145263-TODAY');

INSERT INTO DoctorRating (ClinicalExamID, PatientID, DoctorID, RatingValue, Comment, CreatedAt)
VALUES ('EX-P145263-TODAY', @Pat1, @DoctorID, 5, N'Khám nhanh chóng, bác sĩ tư vấn rất nhiệt tình!', '2026-07-28 09:00:00');


-- =========================================================================
-- CA 2 (09:30): HOÀN THÀNH (COMPLETED) - BỆNH NHÂN P211988
-- =========================================================================
INSERT INTO ClinicalExamination (
    ClinicalExamID, ExamDate, MedicalHistory, DiagnosisNote, CancelReason, NextAppointment, Status, PatientID, DoctorID
) VALUES (
    'EX-P211988-TODAY',
    '2026-07-28 09:30:00',
    N'Tái khám theo dõi HbA1c và kiểm tra tác dụng phụ của thuốc.',
    N'Đái tháo đường tuýp 2 - Phản ứng tốt với thuốc phối hợp, chỉ số ổn định.',
    NULL,
    '2026-08-28 09:30:00',
    'Completed',
    @Pat2,
    @DoctorID
);

INSERT INTO ExamSymptom (ClinicalExamID, SymptomID, Note) VALUES
('EX-P211988-TODAY', 'SYM001', N'Cảm giác khát nước nhẹ khi thời tiết nóng');

INSERT INTO LabOrder (LabOrderID, Status, ClinicalExamID) VALUES ('LBO-P211988-TODAY', 'Completed', 'EX-P211988-TODAY');
INSERT INTO LabResult (LabResultID, Status, Flag, ResultValue, ReferenceRange, LabOrderID, LabTestID) VALUES
('LBR-P211988-TD1', 'Completed', N'Bình thường', 108.50, '70 - 99 mg/dL', 'LBO-P211988-TODAY', 'LAB001'),
('LBR-P211988-TD2', 'Completed', N'Ổn định', 6.60, '4.0 - 5.6 %', 'LBO-P211988-TODAY', 'LAB002');

INSERT INTO Prescription (PrescriptionID, CreatedAt, ClinicalExamID) VALUES ('PR-P211988-TODAY', '2026-07-28 10:00:00', 'EX-P211988-TODAY');
INSERT INTO PrescriptionDetail (PrescriptionDetailID, PrescriptionID, MedicationID, Dosage, TotalQuantity, DurationDays, StartDate, EndDate, MedicationPlan)
VALUES 
('PRD-P211988-TD1', 'PR-P211988-TODAY', 'MED-01', N'1 viên (500mg)', 60, 30, '2026-07-28', '2026-08-28', N'Uống sau bữa ăn sáng và tối.'),
('PRD-P211988-TD2', 'PR-P211988-TODAY', 'MED-04', N'1 viên (100mg)', 30, 30, '2026-07-28', '2026-08-28', N'Uống 1 lần vào buổi sáng.');
INSERT INTO PrescriptionTiming (PrescriptionDetailID, TimingID) VALUES ('PRD-P211988-TD1', 1), ('PRD-P211988-TD1', 5), ('PRD-P211988-TD2', 1);

INSERT INTO TreatmentPlan (CreatedAt, TreatmentGoal, DietPlan, ExercisePlan, GlucoseMonitoringPlan, ClinicalExamID)
VALUES ('2026-07-28 10:10:00', N'Giữ đường huyết luôn ở mức an toàn.', N'Duy trì chế độ ăn bớt đường.', N'Đạp xe 30p/ngày.', N'Đo FPG mỗi sáng thứ 2.', 'EX-P211988-TODAY');

INSERT INTO DoctorRating (ClinicalExamID, PatientID, DoctorID, RatingValue, Comment, CreatedAt)
VALUES ('EX-P211988-TODAY', @Pat2, @DoctorID, 5, N'Bác sĩ giải thích các chỉ số xét nghiệm rất rõ ràng!', '2026-07-28 10:20:00');


-- =========================================================================
-- CA 3 (10:45): HOÀN THÀNH (COMPLETED) - BỆNH NHÂN P375898
-- =========================================================================
INSERT INTO ClinicalExamination (
    ClinicalExamID, ExamDate, MedicalHistory, DiagnosisNote, CancelReason, NextAppointment, Status, PatientID, DoctorID
) VALUES (
    'EX-P375898-TODAY',
    '2026-07-28 10:45:00',
    N'Khám định kỳ hàng tháng, kiểm tra các triệu chứng biến chứng ngoại vi.',
    N'Đái tháo đường tuýp 2 - Không ghi nhận biến chứng mới, thể trạng rất tốt.',
    NULL,
    '2026-08-28 10:45:00',
    'Completed',
    @Pat3,
    @DoctorID
);

INSERT INTO ExamSymptom (ClinicalExamID, SymptomID, Note) VALUES
('EX-P375898-TODAY', 'SYM007', N'Tê bì nhẹ đầu ngón chân');

INSERT INTO LabOrder (LabOrderID, Status, ClinicalExamID) VALUES ('LBO-P375898-TODAY', 'Completed', 'EX-P375898-TODAY');
INSERT INTO LabResult (LabResultID, Status, Flag, ResultValue, ReferenceRange, LabOrderID, LabTestID) VALUES
('LBR-P375898-TD1', 'Completed', N'Bình thường', 105.00, '70 - 99 mg/dL', 'LBO-P375898-TODAY', 'LAB001'),
('LBR-P375898-TD2', 'Completed', N'Tốt', 6.40, '4.0 - 5.6 %', 'LBO-P375898-TODAY', 'LAB002');

INSERT INTO Prescription (PrescriptionID, CreatedAt, ClinicalExamID) VALUES ('PR-P375898-TODAY', '2026-07-28 11:15:00', 'EX-P375898-TODAY');
INSERT INTO PrescriptionDetail (PrescriptionDetailID, PrescriptionID, MedicationID, Dosage, TotalQuantity, DurationDays, StartDate, EndDate, MedicationPlan)
VALUES ('PRD-P375898-TD1', 'PR-P375898-TODAY', 'MED-01', N'1 viên (500mg)', 60, 30, '2026-07-28', '2026-08-28', N'Uống sau ăn sáng và tối.');
INSERT INTO PrescriptionTiming (PrescriptionDetailID, TimingID) VALUES ('PRD-P375898-TD1', 1), ('PRD-P375898-TD1', 5);

INSERT INTO TreatmentPlan (CreatedAt, TreatmentGoal, DietPlan, ExercisePlan, GlucoseMonitoringPlan, ClinicalExamID)
VALUES ('2026-07-28 11:20:00', N'Duy trì đường huyết mục tiêu.', N'Ăn cá và rau xanh.', N'Đi bộ 40 phút.', N'Theo dõi đường huyết 2 lần/tuần.', 'EX-P375898-TODAY');

INSERT INTO DoctorRating (ClinicalExamID, PatientID, DoctorID, RatingValue, Comment, CreatedAt)
VALUES ('EX-P375898-TODAY', @Pat3, @DoctorID, 5, N'Dịch vụ khám tuyệt vời, cảm ơn bác sĩ!', '2026-07-28 11:30:00');


-- =========================================================================
-- CA 4 (14:00): ĐÃ HỦY (CANCELLED) - BỆNH NHÂN P470982
-- =========================================================================

PRINT N'============================================================';
PRINT N'ĐÃ CHÈN 4 CA KHÁM NGÀY HÔM NAY (3 COMPLETED, 1 CANCELLED)!';
GO
